@media screen and (max-width: 550px){
    
    body
    {
      overflow-x: hidden;
    }

 header{   
    background: url("http://www.ecolightmexico.com.mx/img/led_cabecera.jpg") no-repeat 100%top,
                #FFFFFF;
          
    background-size: 430px;
    margin: 1em 0em 2.8em 0;

    }
   

    /* Logo */
    header h1
    {
        margin:-0.9em 0 0 0.7em;
        float: left;

    }

    header h2 {
        color: #FFFFFF;
        margin-top: 0;
        margin-left:auto;
        margin-right: -1em;
        padding-top: 3em;
        padding-bottom: 1em;
        font-size: 1.8em;
        text-align: right;
        text-shadow: rgba(1,0,0,0.9) 2px 1px;
    }

    header h3 {
        margin-right: 0;
        margin-left: 5em;
        margin-top: 1.8em;
        color:#F5F550;
        padding-bottom: 3.7em;
        text-shadow: rgba(1,0,0,0.7) 2px 1px;
        text-align: center;
    }


/* Normas */
    header h4
    {
        float: center;
        margin-top: -4.5em;
        margin-left: 6em;
        margin-right: 0em;
        margin-bottom:-5em;
    }

  
    img {
        width: 4em;
        padding-top: -3em;
        margin-left: -0.6em;
        margin-bottom:-1.5em
    }

    nav
    {
       margin: 3em 0 12em 0;
    }

/* Título 1 de Acuarios */
    #acuarios_h1
    {
      color: #FFFFFF;
      margin-right: -4em;
      margin-top: -9em;
      font-size:19px;
    }

    /* Título 2 de Acuarios */
    #acuarios_h2
    {
      background: #FFF777; /* Para IE */
      /* imagen que de fondo */
      background: url("http://www.ecolightmexico.com.mx/img/pecera.png") no-repeat 36%center,
                  -webkit-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/pecera.png") no-repeat 36%center,
                  -moz-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/pecera.png") no-repeat 36%center,
                  -o-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/pecera.png") no-repeat 36%center,
                  -ms-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/pecera.png") no-repeat 36%center,
                  linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background-size: 35px, 100%;
      border-top: 3px solid #96B42D;
      color: #96B42D;
      font-size: 19px;
      margin-top: 8.8em;
      padding-left: 5em;
    }

    /* Imagen de portada de Acuarios */
    #acuarios_img
    {
      width:100%;
      margin-right:auto;
      margin-left: auto;
    }


/* Contenedor de Buscador */
    #cajabuscador
    {
      margin-top: -17.4em;
      margin-right: 1.6em;
      margin-left: auto;
      margin-bottom: 0.5em;

    }


    /* Título 1 de comercial */
    #comercial_h1
    {
      margin-right: 3.5em;
      margin-top: -2.5em;
      font-size:23px;
    }
    /* Título 2 de comercial */
    #comercial_h2
    {
     background: url("http://www.ecolightmexico.com.mx/img/bolsa.png") no-repeat 21%top,
                 -webkit-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/bolsa.png") no-repeat 21%top,
                 -moz-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/bolsa.png") no-repeat 21%top,
                 -o-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/bolsa.png") no-repeat 21%top,
                 -ms-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/bolsa.png") no-repeat 21%top,
                 linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background-size:45px, 60%;
      border-top: 3px solid #96B42D;
      font-size: 19px;
      margin-top: 0.1em;
      padding-right: 3em;
    }

/* Imagen de portada de Comercial, Contacto, Otros */
    #comercial_img, #contacto_img, #otros_img
    {
      width:100%;
      margin-right:auto;
      margin-left:auto;
    }



/* contenedor de contenido de Comercial, Hogar */
    #contenido_comercial, #contenido_hogar, #contenido_industrial, #contenido_publica, #contenido_leds,
    #contenido_granjas, #contenido_deportiva, #contenido_acuarios
    {
      
      margin-top: -10em;
      padding-bottom: 8.6em;
      width:90%;
 
    }

 /* Título 2 de contacto */
    #contacto_h2
    {
      background: #FFF777; /* Para IE */
      /* imagen que de fondo */
      background: url("http://www.ecolightmexico.com.mx/img/mail_tel.png") no-repeat 25%top,
                  -webkit-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/mail_tel.png") no-repeat 25%top,
                  -moz-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/mail_tel.png") no-repeat 25%top,
                  -o-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/mail_tel.png") no-repeat 25%top,
                  -ms-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/mail_tel.png") no-repeat 25%top,
                  linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background-size: 40px, 100%;
      border-top: 3px solid #96B42D;
      color: #96B42D;
      font-size: 18px;
      margin-top: 1.1em;
      margin-bottom: -0.5em;
      padding-left: 1.5em;
    }

/* contenedor de contenido Contacto */
    #contenido_contacto
    {
      background: #FFFFFF;/* Para IE */
      /* imagen que de fondo en Empresa */
      background: url("http://www.ecolightmexico.com.mx/img/contacto2.png") no-repeat 100%bottom,
                  url("http://www.ecolightmexico.com.mx/img/fondocontacto.jpg") no-repeat -15%bottom,
                  #FFFFFF;
      background-size: 220px, 165px 1220px;/* 1220 altura */
      margin-top: -10em;
      padding-bottom: 8em;
      width:90%;
    }

    /* imagen  de fondo SOLO para Empresa */
    #contenido_empresa
    {
      background: #FFFFFF;/* Para IE */
       /* imagen que de fondo en contacto */
      background: 
                  url("http://www.ecolightmexico.com.mx/img/fondoempresa.jpg") repeat-y -40%center,
                  #FFFFFF; 
      background-size: 200px 1500px;/* 1500 altura */
      padding-bottom: 1em;
      margin-top: -10em;
      margin-right: auto;
      margin-left: auto;
      width:90%;
    }

    /* imagenes  de fondo SOLO para Otros */
    #contenido_otros
    {
      background: #FFFFFF;/* Para IE */
       /* imagen que de fondo en contenido */
      background: url("http://www.ecolightmexico.com.mx/img/financiamiento2.png") no-repeat 0%bottom,
                  url("http://www.ecolightmexico.com.mx/img/financiamiento3.png") no-repeat 100%bottom,
                  url("http://www.ecolightmexico.com.mx/img/financiamiento4.png") no-repeat 100%bottom,
                  #FFFFFF; 
      background-size: 170px 410px, 345px 170px, 150px 170px;
      /* Posición horizontal X y Vertical Y Respectivamente */
      background-position:  0px 140px, 0px bottom , 325px bottom; 
      padding-bottom: 5.5em;
      margin-top: -10em;
      margin-right: auto;
      margin-left: auto;
      width:90%;
    }

    /* Info Legal de página */
    #copyright
    {
      color: #1E3900;
      padding-top: 2.5em;
      padding-bottom: 1em;
      margin-right: 7em;
      margin-left: 0.5em;
      text-align: left;
      font-style: italic;
      font-weight: bold;
      font-size: 0.7em;
    }

/* Título 1 de Deportiva */
    #deportiva_h1
    {
      color: #FFFFFF;
      margin-right: 7.6em;
      margin-top: -6.2em;
      font-size:19px;

    }

    /* Título 2 de Deportiva */
    #deportiva_h2
    {
      background: #FFF777; /* Para IE */
      /* imagen que de fondo */
      background: url("http://www.ecolightmexico.com.mx/img/estadio.png") no-repeat 33%center,
                  -webkit-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/estadio.png") no-repeat 33%center,
                  -moz-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/estadio.png") no-repeat 33%center,
                  -o-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/estadio.png") no-repeat 33%center,
                  -ms-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/estadio.png") no-repeat 33%center,
                  linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background-size: 36px, 100%;
      border-top: 3px solid #96B42D;
      color: #96B42D;
      font-size: 19px;
      margin-top: 6em;
      padding-left: 2em;
    }

/* Imagen de portada de Deportiva */
    #depotiva_img
    {
      width:100%;
      margin-right:auto;
      margin-left: auto;
    }

/* Datos de dirección en Footer */
    #direccion
    {
      margin-top: 0em;
      margin-left: 1.5em;
      margin-right: 1.5em;
      margin-bottom: 0.7em;
      text-align: justify;
      font-size: 1.2em;
    }

    #doc 
    {
        margin-left: -2em;
        margin-top: -9.5em;
        margin-right: auto;
        width: 110%;
    }


    /* Imagen de portada de Empresa */
    #empresa_img
    {
      margin-left:auto;
      margin-right:auto;
      width:100%;
    }


    /* Facebook Logo-Botón */
    #facebook
    {
      margin-top: 1.1em;
      margin-left: auto;
      margin-right:32em;
      margin-bottom: -2.7em;
    }

    /* Título 1 de Granjas */
       #granjas_h1
       {
           color: #FFFFFF;
           margin-right: 4em;
           margin-top: -5.5em;
           font-size:19px;

       }

       /* Título 2 de Granjas */
       #granjas_h2
       {
           background: #FFF777; /* Para IE */
           /* imagen que de fondo */
           background: url("http://www.ecolightmexico.com.mx/img/granjita.png") no-repeat 50%top,
                       -webkit-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
           background: url("http://www.ecolightmexico.com.mx/img/granjita.png") no-repeat 50%top,
                       -moz-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
           background: url("http://www.ecolightmexico.com.mx/img/granjita.png") no-repeat 50%top,
                       -o-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
           background: url("http://www.ecolightmexico.com.mx/img/granjita.png") no-repeat 50%top,
                       -ms-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
           background: url("http://www.ecolightmexico.com.mx/img/granjita.png") no-repeat 50%top,
                       linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
           background-size: 30px, 100%;
           border-top: 3px solid #96B42D;
           color: #96B42D;
           font-size: 19px;
           margin-top: 3.5em;
           padding-left: 12em;
       }

       /* Imagen de portada de Granjas */
       #granjas_img
       {
         width:100%;
         margin-top: -0.5em;
         margin-right:auto;
         margin-left: auto;
       }

    /* Título 1 de hogar */
      #hogar_h1
      {
        color: #FFFFFF;
        margin-right:-2em;
        margin-top: -4.5em;
        margin-bottom: 5.5em;
        font-size:19px;
        letter-spacing: 3px;
      }

      /* Título 2 de hogar */
      #hogar_h2
      {
        background: #FFF777; /* Para IE */
        /* imagen que de fondo */
        background: url("http://www.ecolightmexico.com.mx/img/casita.png") no-repeat 25%top,
                    -webkit-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/casita.png") no-repeat 25%top,
                    -moz-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/casita.png") no-repeat 25%top,
                    -o-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/casita.png") no-repeat 25%top,
                    -ms-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/casita.png") no-repeat 25%top,
                    linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background-size: 45px, 100%;
        border-top: 3px solid #96B42D;
        color: #96B42D;
        font-size: 19px;
        margin-top: -1.3em;
        letter-spacing: 10px;
        padding-left: 4em;
      }

   /* Imagen de portada de Hogar */
    #hogar_img
    {
      width:100%;
      height: 190px;
      margin-right:auto;
      margin-left: auto;
    }

  /* Título 1 de industrial */
    #industrial_h1
    {
        color: #FFFFFF;
        margin-right:-3em;
        margin-top: -4.8em;
        font-size:19px;
    }

    /* Título 2 de industrial */
    #industrial_h2
    {
        background: #FFF777; /* Para IE */
        /* imagen que de fondo */
        background: url("http://www.ecolightmexico.com.mx/img/engrane.png") no-repeat 48%top,
                    -webkit-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/engrane.png") no-repeat 48%top,
                    -moz-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/engrane.png") no-repeat 48%top,
                    -o-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/engrane.png") no-repeat 48%top,
                    -ms-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/engrane.png") no-repeat 48%top,
                    linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background-size: 45px, 100%;
        border-top: 3px solid #96B42D;
        color: #96B42D;
        font-size: 19px;
        margin-top: 3.3em;
        padding-left: 9em;
    }

 /* Imagen de portada de Industrial */
    #industrial_img
    {
      height: 190px;
      width:100%;
      margin-right:auto;
      margin-left: auto;
    }

/* Sección de Bienvenida */
  #QuienesSomos
  {
      background: #FFFFFF; /* Para IE */
      /* imagen en fondo */ 
      background: url("http://www.ecolightmexico.com.mx/img/logo_bienvenidos.jpg") no-repeat 50%top, 
                  #FFFFFF;
                background-size: 300px;
      width:90%;
  }
/* Parrafo dentro de Bienvenida */
  #parrafo_QuienesSomos
  {
      margin-top: -1.5em;
      margin-left: 3.5em;
      margin-right: 3.5em;
  }


/* Título 1 de LEDS de Potencia */
    #leds_h1
    {
      color: #FFFFFF;
      margin-right: -1.9em;
      margin-top: -3.8em;
      font-size:19px;
    }

    /* Título 2 de LEDS de Potencia */
    #leds_h2
    {
      background: #FFF777; /* Para IE */
      /* imagen que de fondo */
      background: url("http://www.ecolightmexico.com.mx/img/ledsito.png") no-repeat 25%bottom,
                  -webkit-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/ledsito.png") no-repeat 22%bottom,
                  -moz-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/ledsito.png") no-repeat 22%bottom,
                  -o-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/ledsito.png") no-repeat 22%bottom,
                  -ms-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/ledsito.png") no-repeat 22%bottom,
                  linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background-size: 36px, 100%;
      border-top: 3px solid #96B42D;
      color: #96B42D;
      font-size: 19px;
      margin-top: 2.3em;
      letter-spacing: 5px;
      padding-left: 3.5em;
    }

     /* Imagen de portada de LEDS de Potencia */
    #leds_img
    {
      width:100%;
      height: 170px;
      margin-right:auto;
      margin-left: auto;
    }

    #ledspotencia
    {
      font-size: 12px;
      word-spacing: 0;
    }

     #Likefacebook{
        margin-top: -7em;
        margin-bottom: 2.3em;
        margin-left: 2em;
    }

/* Contenedor de CopyRight y Logo as-diseño */
    #legal
    {
      background: #ABA9A9;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      width: 90%;
    }

    #logo_asDiseno
    {
      margin-top: -4.1em;
      margin-right: 0em;
      float: right;
      width: 130px;
    }

/* Dirección de Mail */
    #mail
    {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2.5em;
    text-align: center;
    font-size: 1em;
   
    }

/* Jpg de normas */
    #normas
    { 

      width:300px;

    }

/* Footer */
    #Footer
    {  
      background: #277500; /* Para IE */
      background: -webkit-linear-gradient(top, #277500 0%,#003808 100%);
      background: -moz-linear-gradient(top, #277500 0%,#003808 100%);
      background: -o-linear-gradient(top, #277500 0%,#003808 100%);
      background: -ms-linear-gradient(top, #277500 0%,#003808 100%);
      text-shadow:none;
      width:90%;
      padding-bottom: 2.3em;
    }

    /* Título 2 de Otros */
    #otros_h2
    {
        background: #FFF777; /* Para IE */
        /* imagen que de fondo */
        background: url("http://www.ecolightmexico.com.mx/img/dinero.png") no-repeat 21%center,
                    -webkit-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/dinero.png") no-repeat 21%center,
                    -moz-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/dinero.png") no-repeat 21%center,
                    -o-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/dinero.png") no-repeat 21%center,
                    -ms-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background: url("http://www.ecolightmexico.com.mx/img/dinero.png") no-repeat 21%center,
                    linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
        background-size: 18px, 100%;
        border-top: 3px solid #96B42D;
        color: #96B42D;
        font-size: 19px;
        margin-top: 1.1em;
        padding-left: 1.5em;
        letter-spacing: 5px;
    }


/* Introducción de Iluminación Comercial */
    #parrafo_comercial
    {
      font-weight: bold;
      font-size: 15px;
      margin-bottom: -2em;
      margin-top:2.2em;
      margin-left: 1.5em;
      margin-right:1.5em;
      text-align: justify;
    }

    /* Info de Contacto */
     #parrafo_contacto
     {
       color: #96B42D;
       font-weight: normal;
       font-size: 18px;
       margin-top: 1em;
       margin-left: 8em;
       margin-right: 2em;
       position: relative;
       text-align: justify;
       text-shadow: none
     }

/* Introducción de Hogar, Industrial */
    #parrafo_hogar, #parrafo_industrial, #parrafo_publica, #parrafo_leds, #parrafo_granjas, 
    #parrafo_deportiva, #parrafo_acuarios
    {
      font-weight: bold;
      font-size: 15px;
      margin-bottom: -2em;
      margin-top: 0.5em;
      margin-left: 1.5em;
      margin-right:1.5em;
      text-align: justify;
    }

  /* Introducción de Otros */
    #parrafo_otros
    {
      font-weight: bold;
      color: #96B42D;
      font-size: 14px;
      margin-bottom: 7em;
      margin-top: -0.5em;
      margin-left: 12.2em;
      margin-right: 0.8em;
      text-align: justify;
    }

    /* Título 1 de publica */
    #publica_h1
    {

      color: #FFFFFF;
      margin-right:13em;
      margin-top: -1.7em;
      font-size:19px;

    }

    /* Título 2 de publica */
    #publica_h2
    {
      background: #FFF777; /* Para IE */
      /* imagen que de fondo */
      background: url("http://www.ecolightmexico.com.mx/img/public.png") no-repeat 8%center,
                  -webkit-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/public.png") no-repeat 8%center,
                  -moz-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/pubic.png") no-repeat 8%center,
                  -o-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/public.png") no-repeat 8%center,
                  -ms-linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background: url("http://www.ecolightmexico.com.mx/img/public.png") no-repeat 8%center,
                  linear-gradient(right, #FFF777 0%,#FFFFFF 100%);
      background-size: 35px, 100%;
      border-top: 3px solid #96B42D;
      color: #96B42D;
      font-size: 19px;
      margin-top: 0.6em;
      letter-spacing: 5px;
      padding-right: 7em;
    }

    /* Imagen de portada de Pública */
    #publica_img
    {
      width:100%;
      height: 190px;
      margin-right:auto;
      margin-left: auto;
    }
    


/* contenedor seccion Gasolineras, Hogar, Campanas Industriales, Alumbrado Público */
#subcat_gasolineras, #subcat_techo_hogar, #subcat_campanas_industriales, #subcat_alumbrado
{
  margin-left: 6em;
  margin-top: 4em;
}

/* contenedor seccion Piso , Reflectores de Potencia Hogar */
#subcat_piso_comercial, #subcat_reflectores_hogar
{
  margin-left: 6em;
  margin-top: 4em;
}

/* contenedor seccion Reflectores de Potencia Comercial, Jardín, Reflectores de Potencia Industrial, 
Reflectores para Canchas Deportivas */
#subcat_reflectores_comercial, #subcat_jardin, #subcat_reflectores_industrial, #subcat_reflectores_canchas
{
  margin-left: 6em;
  margin-top: 4em;
}


/* contenedor seccion Techo Comercial */
#subcat_techo_comercial
{
  margin-left: 6em;
  margin-top: -18em;
}

/* contenedor seccion Tiras de Led Comercialy Hogar */
 #subcat_tirasled_comercial, #subcat_tirasled
{
  margin-left: 6em;
  margin-top: 3.5em;
 
}

/* contenedor seccion Techo Industrial, Tunel Vehicular */
    #subcat_techo_industrial, #subcat_tunel_vehicular
    {
      margin-left: 6em;
      margin-top: 4em;
 
    }

/* contenedor seccion Piso Hogar */
    #subcat_piso
    {
      margin-left: 6em;
      margin-top: -18em;
    }


/* Twitter Logo-Botón */
    #twitter
    {
      padding-bottom: 1.1em;
      margin-top:  -5.5em;
      margin-right: 4em;
    }

 /* Formato de Buscador */

    #search_box {

        width:442px;

    }

    /* Formato letras de campo de busqueda del Buscador */

    #search_box input 
    {  
      width:430px; 
    }

/* Sección de texto Empresa */
    #vision_mision_etc
    {
      color: #96B42D;
      font-weight: normal;
      font-size: 18px;
      margin-top: -8em;
      margin-left: ;
      margin-right: auto;
      padding-right: 2em;
      padding-left: 10em;
      padding-top: 10em;
      padding-bottom: 0.3em;
      text-align: left;
      height: auto;
    }

/* Posición y tamaño de barra, líneas divisoras */
        .menu li {
          height: 38px;
        }


/* formato  de letras de barra y espaciado */
    .menu li a {
        
        font-size: 13px;
        line-height: 30px;
        padding: 0 0.6em;
        margin: 3px 0;
        
    }

/*  desplegado saliendo*/ 
        .menu li:hover > ul 
        { 
          height: 330px;
          width: 96px
        }


/* formato del desplegado de submenu */
            .menu ul 
            {
            top: 39px;
            }

         /* Desplegado Metiendose*/
        .menu ul li 
        { 
            height: 0;
            width: 96px;
        }


    .slides li img { 
        
        margin-top: 0.1em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;

    }
    
/*  tamaño de fotos en slide*/ 
    .slides{
        height: auto;
        width:auto;
    }
}
        